<div class="row">
  <div class="col-md-4 text-center">
    <img data-src="holder.js/300x300" class="img-thumbnail blog" />
  </div>
  <div class="col-md-8">
  <p class="blog"><%= Faker::Lorem.paragraph(33) %></p>
  </div>
</div>
