<!-- carousel-->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="myCarousel" data-slide-to="1" ></li>
    <li data-target="myCarousel" data-slide-to="2" ></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner text-center">
    <div class="item active">
      <img src="http://placehold.it/1200X480" alt="...">
      <div class="carousel-caption">
        carousel-caption 1
      </div>
    </div>
    <div class="item ">
      <img src="http://placehold.it/1200X480" alt="...">
      <div class="carousel-caption">
        carousel-caption 2
      </div>
    </div>
    <div class="item ">
      <img src="http://placehold.it/1200X480" alt="...">
      <div class="carousel-caption">
        carousel-caption 3
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="myCarousel" data-slide="prev" onclick="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="myCarousel" data-slide="next" onclick="next">
    <span class="icon-next"></span>
  </a>
</div>
