<div class="col-md-4 ">
  <div class='text-center'>
    <img class="img-circle " data-src="holder.js/200x200" />
  </div>
  <h3 class='text-center'>Content <%= x%> </h3>
  <p><%= Faker::Lorem.paragraph(10) %></p>
</div>
