<div class="container">
  <%= render 'carousel'%>
</div>
<hr></hr>
<div class="container subcontent">
  <div class="row">
    <% 3.times do %>
      <%= render 'subcontent' %>
    <%end%>
  </div>
</div>
<hr></hr>
<div class="container blog">
  <%= render 'blog'%>
</div>

