<div class='container'>
  <div class="row">
    <div class='jumbotron'>
      <div class="row text-center">
        <h2 >Food of the day</h2>
        <%= image_tag @gallery.first.image.url()%>     
        <%= link_to "Upload your food image",new_gallery_path,class: "btn btn-primary" if signed_in?%>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  
<% @gallery.each do |t| %>
  <% if t.id % 4 == 0  %>
    <div class="row">
  <%end%>
  <div class='col-md-3 text-center'>
    <%= image_tag t.image.url(:thumb),class: "img-thumbnail"%>
    <p><%=t.name%></p>
  </div>
<% if t.id % 4 == 0  %>
    </div>
  <%end%>
<%end%>
</div>
<hr></hr>
