<footer>
<nav class="navbar navbar-default" id="futpad" style="margin-top:20px"role="navigation" >
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <h3>Contact us</h3>
        <p>telp: 6-912-468, 6-781-241 </p>
        <p>street: pappa neko 17, North Cutes</p>
      </div>
      <div class="col-md-4">
        <h3>Copyright </h3>
        this page created for learning purpose only.
      </div>
    </div>
  </div>
</nav>
</footer>