
<nav class="navbar navbar-default" id="futpad" style="margin-top:20px"role="navigation" >
  <div class="container">
    <div class="row ">
      <div class="col-md-2 "></div>
      <div class="col-md-8 ">
        <ul class="nav nav-pills nav-justified foot">
         <%= render 'shared/nav'%>
        </ul>
      </div>
      <div class="col-md-2 "></div>
    </div>
  </div>
</nav>
